         /*body for all html*/
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cbe5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*---------- style for login page------------*/

.login-container {
    background: white;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    width: 400px;
    text-align: center;
}

.login-container h1 {
    color: #0b4973;
    margin-bottom: 25px;
    font-size: 26px;
}

input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size:14px;
    transition: all 0.3s ease;
}


button[type="submit"] {
    padding: 12px 25px;
    background-color: #007bff;
    color:white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}


button[type="submit"]:hover{
    background-color: #0056b3;
    transform: scale(1.05);
}

#message {
    margin-top: 15px;
    font-size: 14px;
}

/*-------------responsive ---------------*/

@media (max-width:400px) {
    .container{
        width:90%;
        padding:25px;
    }

}

/* -----style for dashboard.html----------*/
/*------header bar------*/
.dashboard-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 10;
}

/*-----------main dashboard box-------*/
.dashboard-container{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    padding: 40px 60px;
    text-align: center;
    width:420px;
    margin-top: 100px;
    transition: transform 0.3 ease;
}

.dashboard-container:hover{
    transform: translateY(-4px);
}

.dashboard-container h1 {
    font-size: 30px;
    font-weight: 700;
    color: #0b4973;
    margin-bottom: 15px;
}

.dashboard-container h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 25px;
}

/*-------------logout button---------*/
#logoutBtn{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#logoutBtn:hover{
    background-color: #005ea6;
    transform: scale(1.05);
}