         /*body for all html*/
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #74b9ff, #a29bfe);
}

/*---------- style for login & signup page------------*/

.login-container {
    background: white;
    padding: 45px 55px;
    border-radius: 25px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
    width: 400px;
    text-align: center;
    animation: fadeIn 0.6s ease;
}

.login-container h1 {
    color: #0b4973;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}

/*--------input fields----------*/
input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 13px;
    margin: 10px 0 18px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0,123,255,0.4);
    outline: none;
}

/*----------buttons-----------*/

button[type="submit"] {
    padding: 12px 25px;
    background-color: #007bff;
    color:white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    margin-top: 10px;
}


button[type="submit"]:hover{
    background-color: #0056b3;
    transform: translateY(-2px);
}

/*----------MESSAGES---------*/
#message {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

/*-----------extra styling for links and buttons----------*/
.login-container p {
    margin-top: 18px;
    font-size: 14px;
}

.login-container a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.login-container a:hover {
    color: #0056b3;
    text-decoration: undeline;
}

/*-------------animation----------*/
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/*-------------responsive ---------------*/

@media (max-width:400px) {
    .container{
        width:90%;
        padding:25px;
    }

}

/* -----style for dashboard.html----------*/
/*------header bar------*/


/*-----------main dashboard box-------*/
.dashboard-container{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    padding: 40px 60px;
    text-align: center;
    width:80px;
    max-width: 900px;
    margin-top: 100px;
    margin-bottom: 40px;
    transition: transform 0.3 ease;
}

.dashboard-container:hover{
    transform: translateY(-4px);
}

.dashboard-container h1 {
    font-size: 30px;
    color: #0b4973;
    margin-bottom: 15px;
}

.dashboard-container h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 25px;
}

/*-------------logout button---------*/
#logoutBtn{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 60px;
    margin-left: 90px;
    text-align: center;
}

#logoutBtn:hover{
    background-color: #005ea6;
    color: rgb(163, 165, 241);
}

/*-----------style for section---------*/

.vacation-section {
    margin-top: 40px;
    text-align: center;
}

#requestBtn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#requestBtn:hover{
    background-color: #005ea6;
}

#vacationTable {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
}

#vacationTable th,
#vacationTable td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#vacationTable th {
    background-color: #007bff;
    color: white;
}

.hidden {
    display: none;
}

#vacationForm{
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background: #f9f9f9;
}

#vacationForm input,
#vacationForm textarea{
    width:100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#saveVacationBtn{
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
}

#saveVacationBtn:hover {
    background-color: #1e7e34;
}

.hidden {
    display: none;
}

.vacation-section {
    margin-top: 30px;
}

#vacationForm {
    margin-top: 20px;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

#vacationTable th, #vacationTable td {
    border: 1px solid #ddd;
    padding:8px;
    text-align:center;
}

#vacationTable th {
    background-color: #007bff;
    color: white;
}

/*-------------Admin Table Styling------------*/
.dashboard-container {
    background: white;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
    margin-top: 120px;
}

.dashboard-container h1 {
    color: #0b4973;
    margin-bottom: 25px;
    font-size: 26px;
}

/*----------Table----------*/
#applicationTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 15px;
}

#applicationTable th,
#applicationTble td {
    border: 1px solid #ccc;
    padding: 10px 12px;
    text-align: center;
}

#applicationTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#applicationTable tr:hover {
    background-color: #e8f1ff;
}

/*----------Buttons in Table---------*/
button.approveBtn,
button.rejectBtn {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 2px;
}

button.approveBtn {
    background-color: #28a745;
}

button.approveBtn:hover {
    background-color: #218838;
    transform: scale(1.05);
}

button.rejectBtn {
    background-color: #dc3545;
}

button.rejectBtn:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

/*-------------------status colors-----------------*/
td:nth-child(7) {
    font-weight: bold;
}

td:nth-child(7):contains("approved") {
    color: green;
}

td:nth-child:contains("rejected") {
    color:red;
}

td:nth-child(7):contains("pending") {
    color: orange;
}

/*--------Header Styling-----------*/
.dashboard-header {
    padding: 15px 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border-radius: 0 0 20px 20px;
    z-index: 10;
    width: 100%;
    background-color:#007bff;
    color: white;
    display: flex;
    justify-content: space-between;   /* title left, button right */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

/*-----------Left Section Avatar + Title)---------*/
.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;  /* space from left edge*/
}
/*----Avatar-----*/
.admin-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

.dashboard-header h2 {
    margin-bottom: 3px;
    font-size: 24px;
    font-weight: 600;
}

.dashboard-header p {
    margin: 0;
    font-size: 24px;
    opacity: 0.9;
}

/*------------Logout Button--------------*/
#logoutBtn {
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 10px;
    padding: 8px 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 100px; /*space from right edge*/
    align-self: center;
}

#logoutBtn:hover {
    background-color: #e8f0ff;
    color: white;
}


/*---------Responsive Design for all pages----------------*/
@media (max-width: 992px) {
    .dashboard-container {
        width: 90%;
        padding: 25px;
        margin-top: 120px;
    }

    .dashboard-header {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        text-align: center;
    }

    #logoutBtn {
        margin: 10px 0;
    }

    .admin-avatar {
        width: 40px;
        height: 40px;
    }

    .dashboard-container h1 {
        font-size: 22px;
    }

    #vacationTable,
    #applicationTable {
        font-size: 13px;
    }

    #vacationTable th, #vacationTable td,
    #applicationTable th, #apllicationTable td {
        padding: 6px;
    }

    #vacationForm {
        width: 95%;
        padding: 15px;
    }
}

@media (max-width: 600px) {
    body {
        align-items: flex-start;
    }

    .login-container {
        width: 90%;
        padding: 25px;
        margin-top: 40px;
    }

    .dashboard-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px 10px 25px 10px;
        border-radius: 0 0 25px 25px;
    }

    .header-left {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        gap: 5px;
        
    }

    .admin-avatar {
        width: 70px;
        height: 70px;
        border: 2px solid white;
        margin-bottom: 5px;
    }

    .dashboard-header h2 {
        font-size: 21px;
        margin: 0;
    }

    .dashboard-header p {
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: 10px;
    }
    
    #logoutBtn {
        margin: 0;
        padding: 10px 25px;
        font-size:15px;
        border-radius: 8px;
        background-color: white;
        color:#007bff
    }

    #logoutBtn:hover {
        background-color: #e6eeff;
    }


    .dashboard-container {
        margin-top: 200px;   /* extra space below header*/
        width: 95%;
        padding: 20px;
        text-align: center;
    }

    .dashboard-container h1 {
        font-size: 22px;
        margin-bottom: 18px;
        color: #0b4973;
    }

    #vacationTable, #applicationTable {
        font-size: 12px;
    } 

    #applicationTable {
        font-size: 13px;
        overflow-x: auto;
        display: block;
        white-space: nowrap;
    }

    #applicationTable table {
        width: 750px;
    } 

    /*#applicationTable th,
    #applicationTable td {
        padding: 8px;
    } */

    /*#applicationTable tr:nth-child(even) {
        background-color: #f9f9f9;
    } */
   
}

